{% extends 'layout.html' %}

{% block content %}

<div class="row">
    <h2 style="text-align: center; font-weight: bold; padding: 35px">All Albums</h2>
    <ul class="alphabet">
        {% for l in flist %}
            <li class="active" onclick="location.href='/album/?name={{ l.ll }}'">{{ l.ll }}</li>
        {% endfor %}

    </ul>
</div>

<div class="row" style="margin-top: 10px">
    {% for oi in albums %}
    <div class="col-md-4">
        <a href='/album/details/?name={{ oi.Name }}'>
            <img class="img-responsive img-thumbnail" src="{{ oi.Imagem }}">
            <h5>{{ oi.Name }}</h5>
        </a>
    </div>
    {% endfor %}
</div>


{% endblock %}

{% block jspage %}

<script>

    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });

    function ShowPicture(id,Source) {
        if (Source=="1"){
            if (document.layers) document.layers[''+id+''].visibility = "show"
            else if (document.all) document.all[''+id+''].style.visibility = "visible"
            else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "visible"
        }
        else if (Source=="0"){
            if (document.layers) document.layers[''+id+''].visibility = "hide"
            else if (document.all) document.all[''+id+''].style.visibility = "hidden"
            else if (document.getElementById) document.getElementById(''+id+'').style.visibility = "hidden"
        }
    }
</script>

{% endblock %}