{% extends 'layout.html' %}

{% block content %}



    <div class="row" style="margin-top: 40px; text-align: center">
        <div class="col-md-4">
            <img src="https://lastfm-img2.akamaized.net/i/u/300x300/b0c2311a9af7f0edbc8b99450944ca1b.png"/>
        </div>
        <div class="co-md-6">
            <p>Isto é uma biografia. Lol</p>
        </div>
    </div>

    <div class="row" style="margin-top: 40px; text-align: center">
        <h2>Top Albums</h2>
    </div>

    <div class="row" style="margin-top: 40px; text-align: center">
    <div class="gallery">
        <a target="_blank" href="img_fjords.jpg">
            <img src="img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
        </a>
    <div class="desc">Musica 1</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
            <img src="img_forest.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Musica 2</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
            <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
        </a>
    <div class="desc">Musica 3</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
            <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
        </a>
    <div class="desc">Musica 4</div>
    </div>

    </div>

    <div class="row" style="margin-top: 40px; text-align: center">
        <h2>All Albums</h2>
    </div>

    <div class="row" style="margin-top: 40px; text-align: center">
        <div class="gallery">
        <a target="_blank" href="img_fjords.jpg">
            <img src="img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
        </a>
    <div class="desc">Musica 1</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
            <img src="img_forest.jpg" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Musica 2</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_lights.jpg">
            <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
        </a>
    <div class="desc">Musica 3</div>
    </div>

    <div class="gallery">
        <a target="_blank" href="img_mountains.jpg">
            <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
        </a>
    <div class="desc">Musica 4</div>
    </div>

    </div>

{% endblock %}
