{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block stylesheets %}
    {% include 'library/_styles.html' %}
    {% endblock %}


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: #9b0002;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand" style="font-weight: bold; font-size: 200%";>MusicBox</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" >
                        <li><a href="{% url 'artists' %}"><span class="glyphicon glyphicon glyphicon-user"></span>&nbsp;Artists</a></li>
                        <li><a href="{% url 'albums' %}"><span class="glyphicon glyphicon-book"></span>&nbsp; Albums</a></li>
                        <li><a href="{% url 'charts' %}"><span class="glyphicon glyphicon-star"></span>&nbsp; Charts</a></li>
                        <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" ></span>&nbsp; Log in</a></li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">

        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p style="font-size: 10px;">&copy; 2017 - MusicBox &emsp;| &emsp; Engenharia de Dados e Conhecimento &emsp;| &emsp; Ana Cruz(76351), Inês Lemos(76769), Inês Moreira(76471)</p>
            <p></p>
        </footer>
    </div>




{% block javascript %}
{% include 'library/_scripts.html' %}
{% endblock %}

{% block jspage %}
{% endblock %}
</body>

</html>
