{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block stylesheets %}
    {% include 'library/_styles.html' %}
    {% endblock %}


</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">MusicBox</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'music' %}"><span class="glyphicon glyphicon-music"></span>&nbsp; Music</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" ></span>&nbsp; Log in</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="container body-content">

        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>&copy; 2017 - MusicBox</p>
        </footer>
    </div>




{% block javascript %}
{% include 'library/_scripts.html' %}
{% endblock %}

{% block jspage %}
{% endblock %}
</body>

</html>
