{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>Hover over the image to see the effect.</p>

        <div class="container">
            {% load static %}
            <a><img class="image" src="{% static 'img/img2.jpg' %}" alt="Musicbox" ></a>

        </div>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>Hover over the image to see the effect.</p>

        <div class="container">
            {% load static %}
            <a><img class="image" src="{% static 'img/img2.jpg' %}" alt="Musicbox" ></a>

        </div>
    </div>
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>Hover over the image to see the effect.</p>

        <div class="container">
            {% load static %}
            <a><img class="image" src="{% static 'img/img2.jpg' %}" alt="Musicbox" ></a>

        </div>
    </div>
</div>
{% endblock %}